/* Universal Styles */
html {
    width      : 100%;
    height     : 100%;
    margin     : 0;
    padding    : 0;
    overflow-x : hidden;
    background-color : #252830;
}

body {
    font-family : 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    overflow-x  : hidden;
    padding: 0 !important;
}

p {
    line-height : 1.75;
}

a {
    color : #EF233C;
}

a:hover {
    color : #D90429;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight : 700;
    font-family : 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

button:disabled {
    opacity : 0.5;
}

.fa {
    display : inline;
}

/* Navigation Bar Styles */
#mainNav .navbar-toggler {
    font-size        : 12px;
    right            : 0;
    padding          : 13px;
    text-transform   : uppercase;
    color            : #EDF2F4;
    border           : 0;
    background-color : #EF233C;
    font-family      : 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
    color       : #EF233C;
    font-family : 'Roboto Slab', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (max-width: 500px) {
    #mainNav .navbar-brand .gym-name {
        display: none;
    }
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color : #D90429;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size      : 100%;
    font-weight    : 600;
    padding        : 0.75em 0;
    letter-spacing : 1px;
    color          : #EDF2F4;
    font-family    : 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    width: 100%;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color : #D90429;
}

@media (max-width : 992px) {
    #mainNav {
        background-color : #353535 !important;
    }

    #mainNav .navbar-brand {
        font-weight        : 700;
        -webkit-transition : all 0.3s;
        transition         : all 0.3s;
    }
}

@media (min-width : 1100px) {
    #mainNav .navbar-nav .nav-item .nav-link {
        padding : 1.1em 1.0em !important;
    }
}

@media (min-width : 992px) {
    #mainNav {
        height             : 100px;
        padding-top        : 25px;
        padding-bottom     : 25px;
        -webkit-transition : padding-top 0.3s, padding-bottom 0.3s;
        transition         : padding-top 0.3s, padding-bottom 0.3s;
        border             : none;
    }

    #mainNav .navbar-brand {
        font-size          : 1.70em;
        font-weight        : 700;
        -webkit-transition : all 0.3s;
        transition         : all 0.3s;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding : 1.1em 1.0em !important;
    }

    #mainNav.navbar-shrink {
        padding-top      : 0;
        padding-bottom   : 0;
        background-color : #353535;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size : 1.25em;
        padding   : 12px 0;
    }
}

#mainNav #navbarResponsive ul .logout {
    font-size        : 90%;
    font-weight      : 400;
    letter-spacing   : 1px;
    color            : #EDF2F4;
    cursor           : pointer;
    background-color : #6C757D;
    text-align       : center;
    vertical-align   : middle;
    user-select      : none;
    border           : 1px solid #6C757D;
    width: 100%;
}

#mainNav #navbarResponsive ul .login {
    width            : 100%;
    font-weight      : 400;
    letter-spacing   : 1px;
    color            : #EDF2F4;
    cursor           : pointer;
    background-color : #6C757D;
    text-align       : center;
    vertical-align   : middle;
    user-select      : none;
    border           : 1px solid #6C757D;
}

#mainNav #navbarResponsive ul .logout:hover {
    color : #D90429;
}

#mainNav #navbarResponsive ul .login:hover {
    color : #D90429;
}

/* To Top Button */
#to-top {
    display          : none; /* Hidden by default */
    position         : fixed;
    bottom           : 20px;
    right            : 30px;
    z-index          : 999;
    border           : none;
    outline          : none;
    background-color : #EF233C;
    color            : #EDF2F4;
    cursor           : pointer; /* Mouse pointer on hover */
    padding          : 15px;
    border-radius    : 10px;
    font-size        : 18px;
}

#to-top:hover {
    background-color : #D90429;
}

/* Footer */
#footer {
    background-color : #353535;
    align-items      : center;
    padding          : 50px;
}

#footer h2 {
    color         : #EF233C;
    margin-bottom : 25px;
}

#footer .row div {
    text-align : center;
    padding    : 6px 0;
}

#footer p {
    color : #EDF2F4;
}

#footer .footer-icon {
    padding-right : 15px;
    font-size     : 25px;
    color         : #EDF2F4;
}

#footer .footer-icon-centered {
    padding-right : 0;
}

#footer a .footer-icon:hover {
    color  : #D90429;
    border : none;
}

#help-footer .row div {
    text-align : center;
    padding    : 6px 0;
}

#help-footer p {
    text-align: center;
    color: #edf2f4;
    border: none;
}

.Nav_link:link {
    color: #edf2f4;
    padding    : 6px 0;
    text-align : center;
}
.Nav_link:visited {
    color: #edf2f4;
    padding    : 6px 0;
    text-align : center;
}
.Nav_link:hover {
    color: #d90429;
    padding    : 6px 0;
    text-align : center;
}
.Nav_link:active {
    color: #d90429;
    padding    : 6px 0;
    text-align : center;
}



#copyrights {
    padding          : 15px 0;
    background-color : #8D99AE;
    vertical-align   : center;
}

#copyrights p {
    margin : 0;
}

.nav-item {
    margin-bottom : auto;
    margin-top    : auto;
}

/* Modals */
.modal-header {
    background-color : #353535;
    border-width     : 0;
    border-radius    : 0;
}

.modal-header h5 {
    color : #D90429;
}

.modal-header button {
    color : whitesmoke;
}

.modal-body {
    background-color : #1B1B1B;
}

.modal-content {
    border-width : 0;
}

.modal-footer {
    background-color : #353535;
    color            : #FFFFFF;
    border-width     : 0;
    border-radius    : 0;
}

.modal-footer button {
    background-color : #D90429;
    color            : whitesmoke;
}

/* Other */
.ann-card::before, .ann-card::after, .msg-card::before, .msg-card::after {
    position       : absolute;
    top            : 0;
    right          : 0;
    bottom         : 0;
    left           : 0;
    transform      : scale3d(0, 0, 1);
    transition     : transform .3s ease-out 0s;
    background     : rgba(255, 255, 255, 0.1);
    content        : '';
    pointer-events : none;
}