/* Universal Styles */
body {
    overflow-x  : hidden;
    font-family : 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
    line-height : 1.75;
}

a {
    color : #EF233C;
}

a:hover {
    color : #D90429;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight : 700;
    font-family : 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.fa {
    display : inline;
}

/* Navigation Bar Styles */
#mainNav {
    background-color : #2B2D42;
}

#mainNav .navbar-toggler {
    font-size        : 12px;
    right            : 0;
    padding          : 13px;
    text-transform   : uppercase;
    color            : #EDF2F4;
    border           : 0;
    background-color : #EF233C;
    font-family      : 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand {
    color       : #EF233C;
    font-family : 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color : #D90429;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size      : 90%;
    font-weight    : 400;
    padding        : 0.75em 0;
    letter-spacing : 1px;
    color          : #EDF2F4;
    font-family    : 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color : #D90429;
}

@media (min-width : 992px) {
    #mainNav {
        padding-top        : 25px;
        padding-bottom     : 25px;
        -webkit-transition : padding-top 0.3s, padding-bottom 0.3s;
        transition         : padding-top 0.3s, padding-bottom 0.3s;
        border             : none;
        background-color   : transparent;
    }
    
    #mainNav .navbar-brand {
        font-size          : 1.75em;
        -webkit-transition : all 0.3s;
        transition         : all 0.3s;
    }
    
    #mainNav .navbar-nav .nav-item .nav-link {
        padding : 1.1em 1.2em ;
    }
    
    #mainNav.navbar-shrink {
        padding-top      : 0;
        padding-bottom   : 0;
        background-color : #212529;
    }
    
    #mainNav.navbar-shrink .navbar-brand {
        font-size : 1.25em;
        padding   : 12px 0;
    }
}

/* Carousel */
.carousel {
    height              : 40rem;
    background-position : center;
    background-size     : cover;
    background-repeat   : no-repeat;
    text-align          : center;
    overflow-wrap       : break-word;
}

.carousel .carousel-indicators {
    padding-bottom: 3em;
}

.carousel-caption {
    padding-bottom: 5em;
}

.carousel .fit-image {
    width      : 100%;
    object-fit : cover;
    height     : 40rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height           : 50px;
    width            : 50px;
    outline          : white;
    background-size  : 100%, 100%;
    border-radius    : 50%;
    border           : 1px solid white;
    background-color : white;
}

.carousel-control-next-icon:after {
    content   : '>';
    font-size : 30px;
    color     : #D90429;
}

.carousel-control-prev-icon:after {
    content   : '<';
    font-size : 30px;
    color     : #D90429;
}

/* Logo */
#author {
    text-align: center;
    margin: -50px 0;
    position: relative;
    z-index: 999;
}

#author img {
    width: 100px;
    border: 1px solid white;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

/* To Top Button */
#to-top {
    display          : none; /* Hidden by default */
    position         : fixed;
    bottom           : 20px;
    right            : 30px;
    z-index          : 99;
    border           : none;
    outline          : none;
    background-color : #EF233C;
    color            : #EDF2F4;
    cursor           : pointer; /* Mouse pointer on hover */
    padding          : 15px;
    border-radius    : 10px;
    font-size        : 18px;
}

#to-top:hover {
    background-color : #D90429;
}

/* Footer */
.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2B2D42;
    color: #EDF2F4;
    text-align: center;
    padding: 2rem;
}

.footer h2 {
    color: #EF233C;
}

.styleImage {
    font-size: 25px ;
    margin: 5px;
    border: none;
}