form.adminViewClient .searchDiv {
    /*background-color: red;*/
    /*display: inline-flex;*/
    /*justify-content: space-around;*/
    /*align-content: baseline;*/
}

form.adminViewClient input[type=text] {
    /*!*padding: 10px;*!*/
    /*font-size: 17px;*/
    /*border: 1px solid grey;*/
    /*!*float: left;*!*/
    /*!*width: 80%;*!*/
    /*background: #f1f1f1;*/
    height: auto;
    margin-left: 0;
    padding-left: 10px !important;
}

/*change*/
form.adminViewClient button {
    height: 100%;
    width: 100%;
    padding: 10px;
    background: #f30638;
    color: white;
    font-size: 17px;
    border: 1px transparent;
    border-radius: 10%;
    cursor: pointer;
}

.edit button:hover {
    background-color: #0b7dda;
}

form.adminViewClient::after {
    /*content: "";*/
    /*clear: both;*/
    /*display: table;*/
}

#profPic {
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile input[type="text"]{
    background: mintcream;
}

#clientDetails, #searchClient{
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#EditAnns{
    padding-left: 30px;
    padding-right: 20px;
    background-color: #1b1b1b;
    border-radius: 10%;

}

.editAnn{
    background-color: #0b7dda;
}

.edit{
    padding-left: 0;
    padding-right: 50px;
    text-align: center;
}

.first-name-field:invalid + .message::after {
    color: red;
    content: "Please enter your first name";
}
.last-name-field:invalid + .message::after {
    color: red;
    content: "Please enter your last name";
}
.username-field:invalid + .message::after {
    color: red;
    content: "Please enter your username";
}
.email-field:invalid + .message::after {
    color: red;
    content: "Invalid email address";
}
:required + .message::before {
    content: "";
}
.text-field:required:valid {
    outline: green solid 2px;
}
.form-control:focus:required:invalid {
    outline: red solid 2px;
}

.form-control:focus:required:valid {
    outline: green solid 2px;
}
p{
    margin-left: 10px;
    display: inline-block;
}
#extra{
    margin-left: 0;
}
.nav-link{
    width: fit-content;
}