.Announcements h3 {
    color    : #D90429;
    position : relative;
}

.Announcements h5 {
    color    : #D90429;
    position : relative;
}

.Announcements .card-block {
    padding : 0 15px 15px 25px;
}

.Announcements .card-title {
    font-size   : 15px;
    transition  : 1s;
    cursor      : pointer;
    padding-top : 0;
}

.Announcements .card-title i {
    font-size  : 15px;
    transition : 1s;
    cursor     : pointer;
    color      : #FFA710;
}

.Announcements .card-title i:hover {
    transform : scale(1.25) rotate(100deg);
    color     : #18D4CA;

}

.Announcements .card:hover {
    transform  : scale(1.05);
    box-shadow : 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.Announcements .card-text {
    height : auto;
}

.Announcements .card::before {
    transform-origin : left top;
}

.Announcements .card::after {
    transform-origin : right bottom;
}

.Announcements .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform : scale3d(1, 1, 1);
}

.Announcements .card {
    transition : 0.5s;
    cursor     : pointer;
    position           : relative;
    display            : -ms-flexbox;
    display            : flex;
    -ms-flex-direction : column;
    flex-direction     : column;
    min-width          : 0;
    word-wrap          : break-word;
    background-color   : whitesmoke;
    background-clip    : border-box;
    border             : 1px solid rgba(0, 0, 0, .125);
    border-radius      : .25rem;
}

.Announcements .card-block {
    padding : 0 15px 15px 25px;
}

