.RowBlock{
    margin: auto;
    padding-bottom: 2%;
}

.selectGroupPersonal{
   font-size: 12px;
}

#backBox {
    padding: 1%;
    height: fit-content;
}

#DropDays{
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border-color: darkred;
}

#DropDays option {
    background: black;
}

select:focus > option:hover {
    background: #f00 !important;
}

.RowButton{
    padding-right: 5px;
    width: 100%;
    border-radius: 5px;
    box-shadow: none;
}



@media all and (max-width:3000px){
    .RowBlock{
        padding-bottom: 2%;
    }
}

@media all and (max-width:2500px){
    .RowBlock{
        padding-bottom: 3%;
    }
}

@media all and (max-width:2000px){
    .RowBlock{
        padding-bottom: 4%;
    }
    
    #backBox {
        padding: 2%;
    }
}

@media all and (max-width:1500px){
    .RowBlock{
        padding-bottom: 6%;
    }
    
    #backBox {
        padding: 3%;
    }
}

@media all and (max-width:1100px){
    .RowBlock{
        padding-bottom: 7%;
    }
}
/*------------------------------------------------------------------------------------------*/

