#ForgotPassword {
    padding: 100px 0 50px 0;
    text-align:center;
    height: 100%;
    justify-items: center;
    background-color: #1b1b1b;
}
#ForgotPassword h1,p{
    color: #e1e1e1;
}

#ForgotPassword input{
    display: block;
    width: 25%;
    margin: 0 auto 0 auto;
}
#ForgotPassword input[type=submit]{
     background-color: #ef233c;
     color: #e1e1e1;
     border: 2px solid #ef233c;
     margin-top: 10px;
 }
#ForgotPassword .emailText{
    border: 1px solid #999999;
}
#ForgotPassword input[type=submit]:hover{
    background-color: rgba(239,3,40,0.9);
}
