/*noinspection DuplicatedCode*/
#ForgotPassword {
    padding          : 100px 0 50px 0;
    text-align       : center;
    height           : 100%;
    justify-items    : center;
    background-color : #1B1B1B;
}

#ForgotPassword h1, p {
    color : #E1E1E1;
}

#ForgotPassword input {
    display : block;
    width   : 25%;
    margin  : 0 auto 0 auto;
}

#ForgotPassword input[type=submit] {
    background-color : #EF233C;
    color            : #E1E1E1;
    border           : 2px solid #EF233C;
    margin-top       : 10px;
}

#ForgotPassword .emailText {
    border : 1px solid #999999;
}

#ForgotPassword input[type=submit]:hover {
    background-color : rgba(239, 3, 40, 0.9);
}

#ForgotPassword .emailSubmit {
    cursor : pointer;
    width: 25% !important;
    padding: 5px !important;
    margin-top: 10px;
}