#ResetPassword{
    padding: 100px 0 50px 0;
    text-align:center;
    height: 100%;
    justify-items: center;
    background-color: #1b1b1b;
}

#ResetPassword h1,p{
    color: #e1e1e1;
}
#ResetPassword input{
    display: block;
    width: 25%;
    margin: 10px auto 0 auto;
}
#ResetPassword input[type=submit]{
    background-color: #ef233c;
    color: #e1e1e1;
    border: 2px solid #ef233c;
    margin-top: 10px;
}
#ResetPassword input[type=submit]:hover{
    background-color: rgba(239,3,40,0.9);
}