#UIDashboard {
    background-color : #252830;
    color            : #CFD2DA;
    padding          : 100px 0 50px 0;
}

#UIDashboard div strong {
    color : #999999;
}

#UIDashboard {
    background-color : #252830;
    color            : #CFD2DA;
    padding          : 100px 0 50px 0;
}

/* Reset Select */
#UIDashboard .select-chart select {
    -webkit-appearance : none;
    -moz-appearance    : none;
    -ms-appearance     : none;
    appearance         : none;
    outline            : 0;
    box-shadow         : none;
    border             : 0 !important;
    background         : #2B2D42 none;
}

/* Remove IE arrow */
#UIDashboard .select-chart select::-ms-expand {
    display : none;
}

/* Custom Select */
#UIDashboard .select-chart {
    position      : relative;
    display       : flex;
    width         : 20em;
    height        : 3em;
    line-height   : 3;
    background    : #2C3E50;
    overflow      : hidden;
    border-radius : .25em;
    margin        : 30px 15px 10px 15px;
}

#UIDashboard .select-chart select {
    flex    : 1;
    padding : 0 .5em;
    color   : #FFFFFF;
    cursor  : pointer;
}

/* Arrow */
#UIDashboard .select-chart::after {
    content            : '\25BC';
    position           : absolute;
    top                : 0;
    right              : 0;
    padding            : 0 1em;
    background         : #34495E;
    cursor             : pointer;
    pointer-events     : none;
    -webkit-transition : .25s all ease;
    -o-transition      : .25s all ease;
    transition         : .25s all ease;
}

/* Transition */
#UIDashboard .select-chart:hover::after {
    color : #EF233C;
}

#UIDashboard .pie__chart {
    max-width : 250px;
    margin    : 30px auto 15px;
}

#UIDashboard .line__chart {
    max-width     : 255px;
    color         : #FFFFFF;
    border-radius : 5px;
    margin        : 0 auto 15px;
}

#UIDashboard .line__chart canvas {
    margin-bottom : -6px;
    border-radius : 0 0 5px 5px;
}

#UIDashboard .line__chart .line__chart-header {
    padding        : 20px 20px 0;
    text-transform : uppercase;
    font-size      : 14px;
}

#UIDashboard .line__chart .line__chart-header strong {
    color : rgba(255, 255, 255, 0.5);
}

#UIDashboard .line__chart .line__chart-data {
    position      : relative;
    padding       : 0 20px 20px;
    font-size     : 28px;
    margin-bottom : 15px;
    border-bottom : 1px solid rgba(255, 255, 255, 0.5);
}

#UIDashboard .line__chart .line__chart-data span {
    font-size : 14px;
}

#UIDashboard .line__chart .line__chart-data span:not(.arrow) {
    /*position : absolute;*/
    /*top      : 11px;*/
    /*left     : 55px;*/
    position : relative;
    padding  : 0 5px;
}

#UIDashboard .arrow {
    position : relative;
    /*left     : 40px;*/
}

#UIDashboard .arrow:before {
    content    : "";
    position   : absolute;
    width      : 0;
    height     : 0;
    transition : 0.3s;
    right      : -30px;
    top        : 2px;
}

#UIDashboard .arrow.Up:before {
    border-left   : 7px solid transparent;
    border-right  : 7px solid transparent;
    border-bottom : 7px solid green;
}

#UIDashboard .arrow.Down:before {
    border-left  : 7px solid transparent;
    border-right : 7px solid transparent;
    border-top   : 7px solid red;
}

#UIDashboard .leaderboard__wrapper {
    margin-top         : 30px;
    margin-bottom      : 20px;
    border-radius      : 4px;
    -webkit-box-shadow : 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow         : 0 1px 1px rgba(0, 0, 0, .05);
}

#UIDashboard .leaderboard__title {
    position      : relative;
    display       : block;
    padding       : 10px 15px;
    margin-bottom : -1px;
    border        : 1px solid #434857;
    border-radius : 3px 3px 0 0;
}

#UIDashboard .leaderboard__result {
    position      : relative;
    display       : block;
    padding       : 10px 15px;
    margin-bottom : -1px;
    border        : 1px solid #434857;
    color         : #CFD2DA;
    transition    : 0.3s;
}

#UIDashboard .leaderboard__result:hover {
    color            : #CFD2DA;
    text-decoration  : none;
    background-color : #434857;
}

/* Start users */
#UIDashboard .staff {
    margin-top : 25px;
}

#UIDashboard .staff .box > h3 {
    color       : #CCCCCC;
    font-family : Calibri, sans-serif;
    font-weight : 300;
    margin-top  : 0;
}

#UIDashboard .staff .box .admin {
    margin-bottom    : 25px;
    overflow         : hidden;
    background-color : #313348;
    padding          : 10px;
}

#UIDashboard .staff .box .admin .img {
    width          : 20%;
    height         : 130px;
    margin-right   : 5%;
    float          : left;
    text-align     : center;
    vertical-align : middle;
    padding-top    : 15px;
}

#UIDashboard .staff .box .admin .img img {
    border-radius : 50%;
    width         : 100px;
    height        : 100px;
}

#UIDashboard .staff .box .info {
    width          : 75%;
    color          : #EEEEEE;
    float          : left;
    vertical-align : middle;
}

#UIDashboard .staff .box .info h3 {
    font-size : 19px;
}

#UIDashboard .staff .box .info p {
    color  : #BBBBBB;
    margin : 0;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #UIDashboard .staff .box .admin .img {
        width          : 5%;
        margin-right   : 35%;
    }
    
    #UIDashboard .staff .box .info {
        width          : 50%;
    }
    
    #UIDashboard .staff .box .info h3 {
        font-size : 15px;
    }
    
    #UIDashboard .staff .box .info p {
        font-size : 12px;
    }
}